<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui" >
  <Package Name="TrinoODBC 32-bit"
           Language="1033"
           Version="$(var.Version)"
           Manufacturer="Trino"
           UpgradeCode="d487a26c-ac90-487e-b332-e8ea34733229"
           InstallerVersion="500"
           Compressed="yes"
           Scope="perMachine">
    <MajorUpgrade AllowSameVersionUpgrades="yes"
                  DowngradeErrorMessage="A newer version of the TrinoODBC 32-bit driver is already installed"/>
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
    <ui:WixUI Id="WixUI_Minimal" InstallDirectory="INSTALLFOLDER"/>

    <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />

    <StandardDirectory Id="SystemFolder">
      <Directory Id="INSTALLFOLDER" Name="TrinoODBC">
        <Component Id="DriverDLL" Guid="5fa32dbb-1456-4df0-b3f0-050ee5204ced">
          <File Id="TrinoODBCx86" Name="TrinoODBC.dll" Source="..\\out\\build\\x86-release\\TrinoODBC.dll" KeyPath="yes" />
          <File Id="libcurl_x86" Name="libcurl.dll" Source="..\\out\\build\\x86-release\\libcurl.dll" />
          <File Id="zlib1_x86" Name="zlib1.dll" Source="..\\out\\build\\x86-release\\zlib1.dll" />
          <File Id="libssl_x86" Name="libssl-3.dll" Source="..\\out\\build\\x86-release\\libssl-3.dll" />
          <File Id="libcrypto_x86" Name="libcrypto-3.dll" Source="..\\out\\build\\x86-release\\libcrypto-3.dll" />
          <File Id="third_party_licenses" Name="third_party_licenses.txt" Source=".\\third_party_licenses.txt" />
          <RegistryKey Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\ODBC Drivers">
            <RegistryValue Name="TrinoODBC" Type="string" Value="Installed" />
          </RegistryKey>
          <RegistryKey Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\TrinoODBC">
            <RegistryValue Name="APILevel" Type="string" Value="0" />
            <RegistryValue Name="Driver" Type="string" Value="[SystemFolder]TrinoODBC\TrinoODBC.dll" />
            <RegistryValue Name="Setup" Type="string" Value="[SystemFolder]TrinoODBC\TrinoODBC.dll" />
            <RegistryValue Name="DriverODBCVer" Type="string" Value="03.80" />
            <RegistryValue Name="ConnectFunctions" Type="string" Value="YYN" />
            <RegistryValue Name="FileUsage" Type="string" Value="0" />
            <RegistryValue Name="SQLLevel" Type="string" Value="0" />
          </RegistryKey>
        </Component>
      </Directory>
    </StandardDirectory>

    <Feature Id="TrinoODBC32Bit" Title="32-bit Trino ODBC Driver" Level="1">
      <ComponentRef Id="DriverDLL" />
    </Feature>

  </Package>
</Wix>
